<p id="notice"><%= notice %></p>

<div class="banner-logo-area">
        <%= image_tag ('Fairwinds-CBD-Logo-01.png'), class:"logo" %>
    </div>

    <!-- Banner Area Start-->
    <section class="banner-area">
        <div class="banner-slider owl-carousel">
        <% Post.where(category_id: 4).each do |post| %>
            <div class="item item-banner-header" style="background-image: <%= asset_path 'CBD_Blog_01.jpg'%>">
                <div class="banner-inner">
                    <h4><%= post.category.name %></h4>
                    <h2><%= post.title %></h2>
                    <%= link_to 'Read more', post, class: "btn readmore-button" %>
                  
                </div>
            </div>  
            <div class="item" style="background: url(assets/img/banner/slider-2.jpg)">
                <div class="banner-inner">
                    <h4><%= post.category.name %></h4>
                    <h2><%= post.title %></h2>
                    <a href="single.html" class="btn readmore-button">Read more</a>
                </div>
            </div>  
            <div class="item" style="background: url(assets/img/banner/slider-1.jpg)">
                <div class="banner-inner">
                    <h4><%= post.category.name %></h4>
                    <h2><%= post.title %></h2>
                    <a href="single.html" class="btn readmore-button">Read more</a>
                </div>
                <% end %>
            </div>        
        </div>
    </section>
    <!-- Banner Area End -->
    <!-- latest post Area Start-->
    <section class="latest-post-area pd-top-115 pd-bottom-110">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <% Post.where(title: "Brief History of Herbal Medicine").each do |post|%>
                    <div class="thumb pb-lg-3 pb-5">
                        <%= image_tag post.image_url.to_s, class:"w-100" %>
                    </div>
                    <div class="blog-post-item-wrap">
                        <div class="post-content">
                            <h6><%= post.category.name %></h6>
                            <h4><%= post.title %></h4>
                            <p><%= truncate post.content.html_safe, length: 200, :escape => false %></p>
                            <%= link_to 'Read more', post, class: "link-btn" %>
                            <div class="post-meta">
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                <% Post.where(title: "Brief History of Cannabis as Medicine").each do |post|%>
                    <div class="thumb pb-lg-3 pb-5">
                        <%= image_tag post.image_url.to_s, class:"w-100" %>
                    </div>
                    <div class="blog-post-item-wrap">
                        <div class="post-content">
                         <h6><%= post.category.name %></h6>
                            <h4><%= post.title %></h4>
                            <p><%= truncate post.content.html_safe, length: 200, :escape => false %></p>
                            <%= link_to 'Read more', post, class: "link-btn" %>
                            <div class="post-meta">
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                <% Post.where(title: "American Cannabis Pioneers").each do |post|%>
                    <div class="thumb pb-lg-3 pb-5">
                        <%= image_tag post.image_url.to_s, class:"w-100" %>
                    </div>
                    <div class="blog-post-item-wrap">
                        <div class="post-content">
                            <h6><%= post.category.name %></h6>
                            <h4><%= post.title %></h4>
                            <p><%= truncate post.content.html_safe, length: 200, :escape => false %></p>
                            <%= link_to 'Read more', post, class: "link-btn" %>
                            <div class="post-meta">
                               <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                <% Post.where(title: "Boosting Your Immune System With Natural Remedies").each do |post| %>
                    <div class="thumb pb-lg-3 pb-5">
                        <%= image_tag post.image_url.to_s, class:"w-100" %>
                    </div>
                    <div class="blog-post-item-wrap">
                        <div class="post-content">
                            <h6><%= post.category.name %></h6>
                            <h4><%= post.title %></h4>
                            <p><%= truncate post.content.html_safe, length: 200, :escape => false %></p>
                            <%= link_to 'Read more', post, class: "link-btn" %>
                            <div class="post-meta">
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                <% Post.where(title: "What Is CBD?").each do |post| %>
                    <div class="thumb pb-lg-3 pb-5">
                        <%= image_tag post.image_url.to_s, class:"w-100" %>
                    </div>
                    <div class="blog-post-item-wrap">
                        <div class="post-content">
                            <h6><%= post.category.name %></h6>
                            <h4><%= post.title %></h4>
                            <%= truncate post.content.html_safe, length: 200, :escape => false %></p>
                            <%= link_to 'Read more', post, class: "link-btn" %>
                            <div class="post-meta">
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                <% Post.where(title: "CBD And Your Pet").each do |post| %>
                    <div class="thumb pb-lg-3 pb-5">
                        <%= image_tag post.image_url.to_s, class:"w-100" %>
                    </div>
                    <div class="blog-post-item-wrap">
                        <div class="post-content">
                            <h6><%= post.category.name %></h6>
                            <h4><%= post.title %></h4>
                            <%= truncate post.content.html_safe, length: 200, :escape => false %></p>
                            <%= link_to 'Read more', post, class: "link-btn" %>
                            <div class="post-meta">
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>
    </section>
    <!-- latest post Area End -->
        <!-- instagram Area Start-->

    <div class="instagram-area">
        <div class="instagram-slider owl-carousel">
            <div class="item">
            <a href="https://www.instagram.com/fairwindscbd/">  
            <%= image_tag ('flow.jpg') %>
            </a>
            </div>
            <div class="item">
            <a href="https://www.instagram.com/fairwindscbd/">  
            <%= image_tag ('cbn.jpg') %>
            </a>
            </div>
            
            <div class="item">
            <a href="https://www.instagram.com/fairwindscbd/">  
            <%= image_tag ('companion.jpg') %>
            </a>
            </div>
            <div class="item">
                <a href="https://www.instagram.com/fairwindscbd/">    
                    <%= image_tag ('gut_health.jpg') %>
                </a>
            </div>
            <div class="item">
                <a href="https://www.instagram.com/fairwindscbd/">    
                    <%= image_tag ('lavender.jpg') %>
                </a>
            </div>
            <div class="item">
                <a href="https://www.instagram.com/fairwindscbd/">    
                    <%= image_tag ('ginger.jpg') %>
                </a>
            </div>
        </div>
    </div>
    <!-- instagram Area End -->

<%= javascript_include_tag('main') %>
<%= javascript_include_tag('image_upload') %>
<%= javascript_include_tag('slick-slider') %>
<%= javascript_include_tag('owl') %>

